<img width="100%" src="../../assets/icons/group-mobile.png" class="show-mobile"/>
<img width="100%" src="../../assets/icons/group.png" class="hide-mobile"/>
<div class="about-info">
    <div class="content-container">
        <h1 class="heading">About Us</h1>
        <div class="small-line"></div>
        <br>
        <p class="paragrah">ZENTAE is an ICT products and services company with a strong focus and passion for delivering implementations of the SAP Concur product suite.
            <br><br>
            Our advantage lies in the fact that we were once the client. We are well aware of the need for customer-centric processes to support the deliverables of the product and realization of the targeted ROI.
            <br><br>
            Founded in 2017, ZENTAE has regional offices in South Africa and Australia. ZENTAE works with clients in the APAC, EMEA, LATAM and NORAM regions and has a successful global footprint stretching across 6 continents, 11 countries and more than 100 successful site implementations.</p>
        <br><br>
    </div>
</div>
<div class="to-deliver">

    <div class="massive-heading-wrapper">
        
        <div class="big-heading">
            “ To deliver value to all our clients in the pursuit of excellence and simplification ”
        </div>
    </div>
    <br><br>
    <div class="about-us-info about-desktop">
        <div class="invisible-block-content">
            <img height="48px" src="../../assets/icons/about-1.svg">
            <br><br>
            <div class="heading">
                Progressive
            </div>
            <br>
            <div class="content">
                To progress is the only way to remain relevant
            </div>
        </div>
        <div height="48px" class="invisible-block-content">
            <img src="../../assets/icons/about-2.svg">
            <br><br>
            <div class="heading">
                Collaboration
            </div>
            <br>
            <div class="content">
                To progress is the only way to remain relevant
            </div>
        </div>
        <div class="invisible-block-content">
            <img height="48px" src="../../assets/icons/about-3.svg">
            <br><br>
            <div class="heading">
                Commitment
            </div>
            <br>
            <div class="content">
                To progress is the only way to remain relevant
            </div>
        </div>
        <div class="invisible-block-content">
            <img height="48px" src="../../assets/icons/about-4.svg">
            <br><br>
            <div class="heading">
                Innovation
            </div>
            <br>
            <div class="content">
                To progress is the only way to remain relevant
            </div>
        </div>
        <div class="invisible-block-content">
            <img height="48px" src="../../assets/icons/about-5.svg">
            <br><br>
            <div class="heading">
                Integrity
            </div>
            <br>
            <div class="content">
                To progress is the only way to remain relevant
            </div>
        </div>
        <div class="invisible-block-content">
            <img height="48px" src="../../assets/icons/about-6.svg">
            <br><br>
            <div class="heading">
                Excellence
            </div>
            <br>
            <div class="content">
                To progress is the only way to remain relevant
            </div>
        </div>
    </div>

    <div class="about-us-info about-mobile">
        <div id="slideshow">
            <div class="container">
                <section>
                    <div class="invisible-block-content">
                        <img src="../../assets/icons/about-1.png">
                        <br><br>
                        <div class="heading">
                            Progressive
                        </div>
                        <br>
                        <div class="content">
                            To progress is the only way to remain relevant
                        </div>
                    </div>
                </section>
                <section>
                    <div class="invisible-block-content">
                        <img src="../../assets/icons/about-2.png">
                        <br><br>
                        <div class="heading">
                            Collaboration
                        </div>
                        <br>
                        <div class="content">
                            To progress is the only way to remain relevant
                        </div>
                    </div>
                </section>
                <section>
                    <div class="invisible-block-content">
                        <img src="../../assets/icons/about-3.png">
                        <br><br>
                        <div class="heading">
                            Commitment
                        </div>
                        <br>
                        <div class="content">
                            To progress is the only way to remain relevant
                        </div>
                    </div>
                </section>
                <section>
                    <div class="invisible-block-content">
                        <img src="../../assets/icons/about-4.png">
                        <br><br>
                        <div class="heading">
                            Innovation
                        </div>
                        <br>
                        <div class="content">
                            To progress is the only way to remain relevant
                        </div>
                    </div>
                </section>
                <section>
                    <div class="invisible-block-content">
                        <img src="../../assets/icons/about-5.png">
                        <br><br>
                        <div class="heading">
                            Integrity
                        </div>
                        <br>
                        <div class="content">
                            To progress is the only way to remain relevant
                        </div>
                    </div>
                </section>
                <section>
                    <div class="invisible-block-content">
                        <img src="../../assets/icons/about-6.png">
                        <br><br>
                        <div class="heading">
                            Excellence
                        </div>
                        <br>
                        <div class="content">
                            To progress is the only way to remain relevant
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

