$color-light-blue: #78ffd6;
$color-white: #ffffff;
$color-text-primary: #001a1c;
$color-button-border: #00263a;
$color-light-grey: #ebedf0;
$color-services-blocks: #00334e;
$color-black: #000000;
$lato-font: 'Lato', sans-serif;